---
layout: handbook-page-toc
title: Sec Sub-department
description: >-
  The Sec Sub-department is composed of development teams working on Secure,
  and Protect features of the GitLab DevOps Platform.
---

## On this page
{:.no_toc .hidden-md .hidden-lg}

- TOC
{:toc .hidden-md .hidden-lg}

<%= devops_diagram(["Secure","Protect"]) %>

## Teams and Handbook Pages

The following teams comprise the sub-department:

- Protect stage - [handbook](/handbook/engineering/development/protect/)
  - Container Security group
- Secure stage - [handbook](/handbook/engineering/development/secure/)
  - Composition Analysis group - [handbook](/handbook/engineering/development/secure/composition-analysis/)
  - Dynamic Analysis group - [handbook](/handbook/engineering/development/secure/dynamic-analysis/)
  - Vulnerability Research group - [handbook](/handbook/engineering/development/secure/vulnerability-research/)
  - Threat Insights group - [handbook](/handbook/engineering/development/secure/threat-insights/)

## Product Direction

Product direction can be found on the [Sec Section Product Direction](/direction/security/) handbook page.

## Performance Indicators

- [Sec Sub-department Performance Indicators](/handbook/engineering/metrics/sec/)
- [Error Budgets](/handbook/engineering/error-budgets/) as Performance Indicators for stage groups

## Slack channels

- [#sec-section](https://gitlab.slack.com/archives/C02087FTL5V) - Sec Section discussions spanning the Protect, and Secure stages.
- [#sec-growth-modelops-people-leaders](https://gitlab.slack.com/archives/C033F69CQCB) - Engineering people leaders in Sec, Growth, and ModelOps.
- [🔒sec-growth-modelops-leadership-confidential](https://gitlab.slack.com/archives/GKWF00Y3E) - Private channel for engineering people leaders in Sec, Growth, and ModelOps.
