---
layout: handbook-page-toc
title: Ecosystem Foundations Team
description: The Ecosystem Foundations team is responsible for foundational Frontend work and our Design System Pajamas.
---

## On this page
{:.no_toc .hidden-md .hidden-lg}

- TOC
{:toc .hidden-md .hidden-lg}

<!-- Common Links -->
[engineering workflow]: /handbook/engineering/workflow/
[GitLab]: https://gitlab.com/gitlab-org/gitlab
[GitLab UI]: https://gitlab.com/gitlab-org/gitlab-ui
[Pajamas]: https://gitlab.com/gitlab-org/gitlab-services/design.gitlab.com
[#g_ecosystem_foundations]: https://gitlab.slack.com/archives/C010NAWPRV4

## About

We're the Foundations team and we are part of the [Ecosystem Stage](/handbook/product/categories/#ecosystem-stage).

This page is the shared team page for our Engineers, Product Designers, and Product Manager!

We hope it's a good entry point to learn more about who we are and what we do.

The Foundations team is currently growing and taking shape.

## Team Members

<%= shared_team_members(role_regexps: [/Group Manager.+Ecosystem/, /Manager.+Foundations/, /Designer.+Foundations/, /Engineer.+Foundations/]) %>

We're hiring for these roles:

- A [Senior Product Designer](https://boards.greenhouse.io/gitlab/jobs/5565373002)
- A [(Senior) Fullstack Engineer](https://boards.greenhouse.io/gitlab/jobs/5650059002)

## What do we work on?

 -  **Design System** ([Direction Page](/direction/ecosystem/foundations/design_system/))

    We are currently focused on integrating our design system, [Pajamas], into the GitLab product.

    We perform an accessibility audit on each component and make sure that our implementations in
    [GitLab UI] and [GitLab] match the desired user experience, guidelines, and visual design.

    The Foundations team does the preparation work necessary so that other Engineers at GitLab
    and members from the wider community can help out with these efforts. 

    **Do you want to contribute?** Please see [this issue for a good entry point](https://gitlab.com/gitlab-org/ecosystem-stage/team-tasks/-/issues/95).

 - **Navigation & Settings** ([Direction Page](/direction/ecosystem/foundations/navigation_settings/))
 - **GitLab Docs** ([Direction Page](/direction/ecosystem/foundations/gitlab_docs/))

## How do we work?

In general, we use the standard GitLab [engineering workflow].

To get in touch with the Foundations team,
it's best to create an issue in the relevant project (typically [GitLab], [Pajamas] or [GitLab UI]) and
add the `~"group::foundations"` label, along with any other appropriate labels.
Then, feel free to ping the relevant Product Manager and/or Engineering Manager.

For more urgent items or if you are unsure who to ask, ping `@gitlab-org/ecosystem-stage/foundations` or use [#g_ecosystem_foundations] on Slack (internal only).

## Employee Development

Here are some resources team members can use for employee development:

- [Create Stage Professional Development](/handbook/engineering/development/dev/create/#professional-development)
- [Create Stage Training opportunities](/handbook/engineering/development/dev/create/engineers/training/)
- [GitLab Learning and Development](/handbook/people-group/learning-and-development/)
- [GitLab Learn](https://gitlab.edcast.com/)

